---
layout: blog
title: Archive
---

<div class="container">
  <div id="postList" style="display:none;">
    {% for post in site.posts %}"{{ post.url }}",{% endfor %}
  </div>
  <div class="row" id="app">
    <div class="col-md-9 col-xs-12">
      {% for tag in site.tags %}
        {% assign tagstr = tag | first %}
        {% assign tagposts = tag | last %}
        <div class="card" id="tagHeader{{ forloop.index }}">
          <div class="card-header">
            <a data-toggle="collapse" data-target="#tagContent{{ forloop.index }}">
              {{ tagstr }}=[collection of {{ tagposts | size }} post(s)]
            </a>
          </div>
          <div class="collapse" id="tagContent{{ forloop.index }}">
            <ul class="list-group">
            {% for post in site.posts %}
            {% if post.tags contains tagstr %}
              <li class="list-group-item">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <span class="badge">{{ post.modified }}</span>
              </li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-3 col-xs-12 sidenav" style="margin-top:10px;">
      <p>扫一扫移动端阅读</p>
      <div id="qrcode"></div>
      <hr>
      <a class="btn btn-dark btn-sm" href="/feed.xml">RSS</a>
      <a class="btn btn-dark btn-sm" :href="randPost">运气不错</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#qrcode').qrcode({
      width: 196,
      height: 196,
      text: "https://oncemore.wang/blog"
    });
  });
  var postsList = $('#postList').text().split(',')
  var vm = new Vue({
    el: '#app',
    data: {
      posts: postsList
    },
    computed: {
      randPost: function () {
        var randomIndex = Math.floor(Math.random() * this.posts.length)
        var postName = this.posts[randomIndex]
        return postName.substr(1, postName.length - 2)
      }
    }
  })
</script>
<style>
a:hover {
  text-decoration: none;
}

.card {
  margin-top: 10px;
}
</style>
