---
layout: blog
title: Featured Posts
---

<div class="container">
  <div id="postList" style="display:none;">
    {% for post in site.posts %}"{{ post.url }}",{% endfor %}
  </div>
  <div class="row" id="app">
    <div class="col-md-9 col-xs-12">
      <div class="list-group">
        {% for post in site.posts %}
          {% if post.feature %}
            <li class="list-group-item">
              <a href="{{ site.url }}{{ post.url }}">
                <h4 class="list-group-item-heading">{{ post.title }}</h4>
                <p class="list-group-item-text">{{ post.description }}</p>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3 col-xs-12 sidenav" style="margin-top:10px;">
      <p>扫一扫移动端阅读</p>
      <div id="qrcode"></div>
      <hr>
      <a class="btn" href="/feed.xml">RSS</a>
      <a class="btn" :href="randPost">运气不错</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#qrcode').qrcode({
      width: 196,
      height: 196,
      text: "https://oncemore.wang/blog"
    });
  });
  var postsList = $('#postList').text().split(',')
  var vm = new Vue({
    el: '#app',
    data: {
      posts: postsList
    },
    computed: {
      randPost: function () {
        var randomIndex = Math.floor(Math.random() * this.posts.length)
        var postName = this.posts[randomIndex]
        return postName.substr(1, postName.length - 2)
      }
    }
  })
</script>
<style>
.sidenav {
    text-align: center;
}
.btn {
  border: 1px solid;
  color: black;
}
.list-group a {
  color: black;
}
.list-group a:hover {
  text-decoration: none;
  color: #0066ff;
}
</style>
